header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 40px;
}

.theme-switcher-wrap {
  width: 100%;
  text-align: right;
  margin: 0 15px;
  display: flex;
  align-items: center;
  .theme-switcher {
    display: inline-block;
    cursor: pointer;
    .switch-path {
      width: 40px;
      height: 20px;
      border-radius: 10px;
      background-color: $color-white;
      .switch-handle {
        background-color: $bg-theme-light;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: all 0.3s ease-out;
      }
    }
    &.active {
      .switch-path {
        background-color: $color-white;
      }
      .switch-handle {
        transform: translateX(20px);
        background-color: green;
      }
    }
  }
}

.action-btns {
  display: flex;
  transition: all 0.3s ease-in-out;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .todo-name {
    position: relative;
    height: 29px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 200px;
  }
}

.fa-plus-circle {
  color: $color-buttons;
  background: transparent;
  border: none;
  font-size: 20px;
}
