header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 40px;
}

.theme-switcher-wrap {
  width: 100%;
  text-align: right;
  margin: 0 15px;
  .theme-switcher {
    display: inline-block;
    cursor: pointer;
    .switch-path {
      width: 40px;
      height: 20px;
      border-radius: 10px;
      background-color: #ccc;
      .switch-handle {
        background-color: #999;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: all 0.3s ease-out;
      }
    }
    &.active {
      .switch-path {
        background-color: #555;
      }
      .switch-handle {
        transform: translateX(20px);
        background-color: green;
      }
    }
  }
}

.action-btns {
  display: flex;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .todo-name {
    position: relative;
  }
}

.fa-plus-circle {
  color: green;
  background: transparent;
  border: none;
  font-size: 20px;
}
