.todo-form {
  display: flex;
  align-items: baseline;
}

.list-wrap {
  overflow-x: auto;
  display: flex;
  height: calc(100vh - 40px);
  align-items: flex-start;
}

.list-box {
  width: 300px;
  min-width: 300px;
  min-height: 300px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  .list-name {
    h2 {
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      margin: 5px;

      button {
        background: transparent;
        border: none;
        font-size: 18px;
        padding: 0;
        margin: 0 3px;
        cursor: pointer;
      }

      .fa-edit {
        color: green;
      }

      .fa-minus-circle {
        color: red;
      }
    }
  }
}

.completed {
  text-decoration: line-through;
}
