.todo-form {
  display: flex;
  align-items: center;
}

.list-wrap {
  overflow-x: auto;
  display: flex;
  height: calc(100vh - 40px);
  align-items: flex-start;
}

.list-box {
  width: 300px;
  min-width: 300px;
  min-height: 300px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: expand 0.3s ease-in-out;
  .list-name {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      margin: 5px;
      word-wrap: break-word;
      word-break: break-all;
      max-width: 288px;
    }
  }

  .list-actions {
    padding: 5px;
    min-width: 65px;
    button {
      background: transparent;
      border: none;
      font-size: 18px;
      padding: 0;
      margin: 0 3px;
      cursor: pointer;
    }

    .fa-edit {
      color: $color-buttons;
    }

    .fa-minus-circle {
      color: $color-button-remove;
    }
  }

  form {
    width: 100%;
    display: flex;
    padding: 5px;

    input,
    select,
    button {
      border: none;
    }
    button {
      margin-left: 5px;
      background: transparent;
    }
  }
}

.todo-form {
  input {
    width: 100%;
  }
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
    background: #5470b0;
  }
}
