@import "setup/normalize.scss";
@import "setup/variables.scss";

@import "components/header.scss";
@import "components/lists.scss";
@import "components/tasks.scss";

body {
  color: $color-theme-light;
  background-color: $bg-theme-light;
  background-image: linear-gradient(
    19deg,
    #5f73da 0%,
    #f023e6 32%,
    #ffcc70 87%
  );
}

.container {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.theme.theme-dark {
  background-color: $bg-theme-dark;
  color: $color-theme-dark;
}
