@media screen and (max-width: 767px) {
  .action-btns .todo-name {
    width: 125px;
  }
  .list-wrap {
    flex-direction: column;
    height: 100vh;
  }
  .list-box {
    width: 90%;
    margin: 5px;
    align-self: center;
    min-height: auto;
    height: 300px;
  }
}
