//Light Theme
$bg-theme-light: #5f73da;
$color-theme-light: #222;
$color-white: #fff;
$color-buttons: #9c2caf;
$color-button-remove: #e91e63;
$color-medium: #ffcc70;

//Dark Theme
$bg-theme-dark: #121212;
$color-theme-dark: #fff;
